:root{
  --blue:   rgba(1, 126, 198, 0.918);
  --grey:   rgba(220, 231, 241, 0.899);
  --white:  rgb(255, 255, 255);
  --yellow: rgb(240, 190, 25);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

*{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}
body{
  margin: 0;
  padding: 0;
}
/* styling */

.sidebar{
  background-color: var(--blue);
  padding: 1rem;
}
.header{
  background-color: var(--white);
  padding-inline: 3 rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 0px 0px;
  margin-bottom: 5px;
}
.main{
  background-color: var(--grey);
  padding: 1rem;
  height: 100vh;
}

.sidebar{
  color: var(--white);
  font-size: 1.75rem;
  font-weight: 600;
}

.logo{
  font-size: 2.5rem;
  font-weight: 700;
}

ul{
  list-style: none;
}
li{
  margin-top: 1.25rem;
}

.button{
  border: 0;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 2em;
  padding: 0.75em 2em;
}
.search-bar{
  border-radius: 2rem;
  border: 0;
  background-color: var(--grey);
  height: 2em;
  padding: 6px;
  width: 90%;
  margin-left: 1rem;
}
.search > img{
  width: 30px;
  align-self: center;
  justify-self: end;
}
.greeting{
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
  margin-left: 25px;
  margin-top: 10px;
}
.name{
  font-size: 1.75rem;
  font-weight: 700;
  margin-left: 25px;
}
img{
  width: 7rem;
  height: auto;
}
.user-info > img{
  width: 75px;
}
.user-info > img:first-child{
  width: 30px;
}
.profile-pic{
  border-radius: 10rem;
}

.projects > div{
  background: linear-gradient(to right,
  var(--yellow) 2%, var(--white) 2% );
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 8px;
}
.announcements {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 8px;
}
.trending{
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 8px;
}
.main > p{
  font-weight: 700;
  font-size: 1.5rem;
  height: 0rem;
}

.text-area{
  letter-spacing: 0;
}
.text-area > .title{
  font-size: 1.25rem;
  font-weight: 900;
}
.text-area > .text {
  letter-spacing: 0.2px;
  font-size: 1.2rem;
}
.icons > img{
  width: 30px;
  margin-left: 2rem;
}
/* Container general grid layout*/

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 220px 6fr;
}


/* header grid and subgrid */

.header{
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: minmax(5rem,30%) minmax(5rem,40%);
  align-items: center;
}

.header > .search{
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  
}
.header > .search > .search-bar {
  grid-area: 1 / 2 / 2 /3;
}
.header > .search > img {
  grid-area: 1 / 1 / 2 / 2;
}

.header > .user-info{
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 33.33%)) ;
  align-items: center;
  justify-items: center;
}
.header > .user-info > img:first-child{
  justify-self: end;
}
.header > .user-info > p{
  justify-self: start;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 600;
}
.header > .user-greeting{
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  margin-top: 30px;
  margin-left: 60px;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: minmax(2rem , 25%) minmax(3rem,60%);
}
.header > .user-greeting > img{
  grid-area: 1 / 1 / 3 / 2;
  align-self: center;
  justify-self: center;
}
.header > .user-greeting > .greeting{
  grid-area: 1 / 2 / 2 / 3;
  align-self: end;
  justify-self: start;
}
.header > .user-greeting > .name{
  grid-area: 2 / 2 / 3 / 3;
  align-self:end;
  justify-self:start;
}

.header > .buttons{
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(3em,33.33%));;
  grid-template-rows: 65%;
  align-items: center;
  justify-items: center;
  margin-top: 30px;
  margin-right: 30px;

}

/* sidebar grid and subgrid */

.sidebar{
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 170px 520px 510px
  
}

.logo{
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  justify-self: start;
}

.navigation{
  grid-area: 2 / 1 / 3 / 2;
}

.navigation > ul{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  repeat(6 , minmax(40px,2fr));
  gap: 1rem;
}

.branding{
  grid-area: 3 / 1 / 4 / 2;
}

.branding > ul{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  repeat(3 , minmax(40px,2fr));
  gap: 1rem;
}

/* main grid and subgrid */

.main{
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
  gap: 1.2rem;
  padding-bottom: 5rem;
  padding-right: 3.5rem;
}

.title1{
  grid-area: 1 / 1 / 2 / 2;
 
}
.projects{
  grid-area: 2 / 1 / 5 / 2;
  display: grid;
  grid-template-columns: 500px 500px ;
  grid-template-rows: repeat(auto-fit, minmax(1fr ,33%));
  gap: 2rem;
}
.projects > div{
  display: grid;
  padding-inline: 2rem;
  grid-template-rows: 200px 75px;
  align-items: center;
}
.icons{
  justify-self: end;
}

.title2{
  grid-area: 1 / 2 / 2 / 3;
}
.announcements{
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-rows: repeat(3,1fr);
}

.title3{
  grid-area: 3 / 2 / 4 / 3;
  
}

.trending{
  grid-area: 4 / 2 / 5 / 3;
}

/* a lot of list things for icons */

li:hover, button:hover, .logo:hover{
  color: var(--grey);
  cursor: pointer;
}


.logo:first-child{
  background: url(images/view-dashboard.png) no-repeat left; /* <-- change `left` & `top` too for extra control */
  padding: 5px 0px 0px 5rem ;
  background-size: 4rem;
}
.navigation > ul > li:nth-child(1){
  background: url(images/home.png) no-repeat left; /* <-- change `left` & `top` too for extra control */
  
  padding: 5px 0px 0px 60px ;
}
.navigation > ul > li:nth-child(2){
  background: url(images/card-account-details-outline.png) no-repeat left; /* <-- change `left` & `top` too for extra control */
  padding: 5px 0px 0px 60px ;
}
.navigation > ul > li:nth-child(3){
  background: url(images/message-reply.png) no-repeat left; /* <-- change `left` & `top` too for extra control */
  padding: 5px 0px 0px 60px ;
}
.navigation > ul > li:nth-child(4){
  background: url(images/clock-time-three.png) no-repeat left; /* <-- change `left` & `top` too for extra control */
  padding: 5px 0px 0px 60px ;
}
.navigation > ul > li:nth-child(5){
  background: url(images/note-multiple.png) no-repeat left; /* <-- change `left` & `top` too for extra control */
  padding: 5px 0px 0px 60px ;
}
.navigation > ul > li:nth-child(6){
  background: url(images/account-group.png) no-repeat left; /* <-- change `left` & `top` too for extra control */
  padding: 5px 0px 0px 60px ;
}
.branding > ul > li:first-child{
  background: url(images/cog.png) no-repeat left; /* <-- change `left` & `top` too for extra control */
  padding: 5px 0px 0px 60px ;
}
.branding > ul > li:nth-child(2){
  background: url(images/help-box.png) no-repeat left; /* <-- change `left` & `top` too for extra control */
  padding: 5px 0px 0px 60px ;
}
.branding > ul > li:nth-child(3){
  background: url(images/shield-check.png) no-repeat left; /* <-- change `left` & `top` too for extra control */
  padding: 5px 0px 0px 60px ;
}